@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #fff;
}
body{
  background-color: #080707;
}

#tasklist::-webkit-scrollbar{
  display:none;
}

#status::-webkit-scrollbar{
  display:none;
}

#alltasks::-webkit-scrollbar{
  display:none;
}